name: build

on:
  pull_request:
    branches:
      - 'master'
    paths-ignore:
      - '**.md'
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
    paths-ignore:
      - '**.md'

jobs:
  xgo:
    runs-on: ubuntu-latest
    steps:
      -
        name: Prepare
        id: prepare
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            echo ::set-output name=tag_name::${GITHUB_REF#refs/tags/}
          fi
      -
        name: Set up Go
        uses: actions/setup-go@master
        with:
          go-version: 1.13
      -
        name: Checkout
        uses: actions/checkout@v2.3.1
      -
        name: GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --skip-publish --rm-dist
      -
        name: Strip to dist
        if: success() && startsWith(github.ref, 'refs/tags/')
        run: |
          rm -f dist/CHANGELOG.md dist/config.yaml
          for folder in dist/*; do
            if [ -d ${folder} ]; then
              filename=$(basename $folder)
              if [[ $filename == *"windows"* ]]; then
                filename=${filename}.exe
              fi
              for xgo in ${folder}/*; do
                mv "${xgo}" "dist/${filename}.tmp"
                rm -rf "${folder}"
                mv "dist/${filename}.tmp" "dist/${filename}"
              done
            fi
          done
      -
        name: GitHub Release
        uses: softprops/action-gh-release@v1
        if: success() && startsWith(github.ref, 'refs/tags/')
        with:
          draft: true
          files: |
            dist/*
          name: ${{ steps.prepare.outputs.tag_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
