name: test

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

env:
  PLATFORMS: linux/amd64,linux/arm64

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go_version:
          - 1.20.3
          - 1.19.8
        case:
          - c
          - cpp
          - gorm
          - ffmerger
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver: docker
      -
        name: Build xgo
        uses: docker/bake-action@v2
        with:
          targets: image
          set: |
            *.tags=xgo:${{ matrix.go_version }}
            *.args.GO_VERSION=${{ matrix.go_version }}
            *.output=type=docker
      -
        name: Test ${{ matrix.case }} for go ${{ matrix.go_version }}
        uses: docker/bake-action@v2
        with:
          targets: test-${{ matrix.case }}
        env:
          BASE_IMAGE: xgo:${{ matrix.go_version }}
