name: test

on:
  push:
    branches:
      - 'master'
    tags:
      - '*'
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - 'master'
    paths-ignore:
      - '**.md'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go_version:
          - 1.15
          - 1.16
        case:
          - c
          - cpp
          - gorm
          - ffmerger
          - goethereum
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Cache Docker layers
        uses: actions/cache@v2.1.5
        with:
          path: /tmp/.xgo-cache
          key: ${{ runner.os }}-xgo-base-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-xgo-base-
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver: docker
      -
        name: Build base
        uses: docker/bake-action@v1
        with:
          targets: base
          set: |
            *.tags=xgo:base
            *.output=type=docker
            *.cache-from=type=local,src=/tmp/.xgo-cache
      -
        name: Bootstrap ${{ matrix.go_version }}
        uses: docker/bake-action@v1
        with:
          targets: go-${{ matrix.go_version }}
          set: |
            *.tags=xgo:${{ matrix.go_version }}
            *.output=type=docker
        env:
          BASE_IMAGE: xgo:base
      -
        name: Test ${{ matrix.case }} for go-${{ matrix.go_version }}
        uses: docker/bake-action@v1
        with:
          targets: test-${{ matrix.case }}
        env:
          BASE_IMAGE: xgo:${{ matrix.go_version }}
